{% extends 'base.html' %}

{% block title %}Global Investment Opportunities - {{ company_info.name }}{% endblock %}

{% block content %}
<div class="container">
    <h1>Global Investment Opportunities</h1>
    <p>Explore investment programs and business migration options worldwide.</p>

    <div class="row">
        {% for country in countries %}
        <div class="col-md-6 col-lg-4 mb-3">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">{{ country }}</h5>
                    <p class="card-text">Investment programs and business migration opportunities</p>
                    <a href="{{ url_for('index') }}" class="btn btn-primary">View Programs</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="mt-5">
        <h3>Ready to Invest?</h3>
        <p><a href="{{ url_for('submit_application') }}" class="btn btn-lg btn-success">Submit Investment Application</a></p>
    </div>
</div>
{% endblock %}
